@model IEnumerable<PasteIt.Entities.Paste>

@{
    //ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <label class="font-weight-bold d-flex justify-content-between">
                    <span>New Paste</span>
                    <input type="file" style="display:none;" id="fileInput" />
                    <button type="button" class="btn btn-sm btn-success" id="fileInputBtn" onclick="document.getElementById('fileInput').click()">Open File</button>
                </label>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Paste" id="pasteForm">
                    <div style="height:400px" id="editor"></div>
                    <input id="editorContent" name="Content" type="hidden" />
                    <hr class="hidden" />
                    <h5>Paste Settings</h5>
                    <hr class="extra-margin" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="active">Paste Title:</label>
                            <input type="text" name="Title" class="form-control" placeholder="Paste Title" value="" autocomplete="off">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="active">
                                Paste Folder:
                                <button type="button" class="btn btn-primary-outline" data-bs-toggle="modal" data-bs-target="#createFolderModal">
                                    <i class="bi bi-folder-plus"></i> Create Folder
                                </button>
                            </label>
                            <select class="form-select" name="Folder" aria-label="Select Folder" id="folderSelect">
                                <option selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="active">Syntax Highlighting:</label>
                            <input type="text" class="form-control" list="SyntaxOptions" id="Syntax" name="Syntax" value="plain_text" />
                            <datalist id="SyntaxOptions">
                                <option value="markup" data-ext="html">Markup</option>
                                <option value="css" data-ext="css">CSS</option>
                                <option value="javascript" data-ext="js">JavaScript</option>
                                <option value="c" data-ext="c">C</option>
                                <option value="csharp" data-ext="cs">C#</option>
                                <option value="cpp" data-ext="cpp">C++</option>
                                <option value="java" data-ext="java">Java</option>
                                <option value="lua" data-ext="lua">Lua</option>
                                <option value="python" data-ext="py">Python</option>
                                <option value="plain_text" data-ext="txt" selected>Plaintext</option>
                                <option value="clike" data-ext="txt">C-like</option>
                                <option value="abap" data-ext="abap">ABAP</option>
                                <option value="actionscript" data-ext="as">ActionScript</option>
                                <option value="ada" data-ext="ada">Ada</option>
                                <option value="apacheconf" data-ext="conf">Apache Configuration</option>
                                <option value="apl" data-ext="txt">APL</option>
                                <option value="applescript" data-ext="txt">AppleScript</option>
                                <option value="arduino" data-ext="txt">Arduino</option>
                                <option value="arff" data-ext="txt">ARFF</option>
                                <option value="asciidoc" data-ext="asciidoc">AsciiDoc</option>
                                <option value="asm6502" data-ext="asm">6502 Assembly</option>
                                <option value="aspnet" data-ext="txt">ASP.NET (C#)</option>
                                <option value="autohotkey" data-ext="ahk">AutoHotKey</option>
                                <option value="autoit" data-ext="txt">AutoIt</option>
                                <option value="bash" data-ext="txt">Bash</option>
                                <option value="basic" data-ext="txt">Basic</option>
                                <option value="batch" data-ext="bat">Batch</option>
                                <option value="bison" data-ext="txt">Bison</option>
                                <option value="brainfuck" data-ext="txt">Brainfuck</option>
                                <option value="bro" data-ext="bro">Bro</option>
                                <option value="coffeescript" data-ext="coffee">CoffeeScript</option>
                                <option value="clojure" data-ext="clj">Clojure</option>
                                <option value="crystal" data-ext="txt">Crystal</option>
                                <option value="csp" data-ext="txt">Content-Security-Policy</option>
                                <option value="css-extras" data-ext="txt">CSS Extras</option>
                                <option value="d" data-ext="d">D</option>
                                <option value="dart" data-ext="dart">Dart</option>
                                <option value="diff" data-ext="diff">Diff</option>
                                <option value="django" data-ext="html">Django/Jinja2</option>
                                <option value="docker" data-ext="Dockerfile">Docker</option>
                                <option value="eiffel" data-ext="e">Eiffel</option>
                                <option value="elixir" data-ext="ex">Elixir</option>
                                <option value="elm" data-ext="elm">Elm</option>
                                <option value="erb" data-ext="erb">ERB</option>
                                <option value="erlang" data-ext="erl">Erlang</option>
                                <option value="fsharp" data-ext="fs">F#</option>
                                <option value="flow" data-ext="txt">Flow</option>
                                <option value="fortran" data-ext="f">Fortran</option>
                                <option value="gedcom" data-ext="txt">GEDCOM</option>
                                <option value="gherkin" data-ext="feature">Gherkin</option>
                                <option value="git" data-ext="gitignore">Git</option>
                                <option value="glsl" data-ext="glsl">GLSL</option>
                                <option value="gml" data-ext="txt">GameMaker Language</option>
                                <option value="go" data-ext="go">Go</option>
                                <option value="graphql" data-ext="gql">GraphQL</option>
                                <option value="groovy" data-ext="groovy">Groovy</option>
                                <option value="haml" data-ext="haml">Haml</option>
                                <option value="handlebars" data-ext="hbs">Handlebars</option>
                                <option value="haskell" data-ext="hs">Haskell</option>
                                <option value="haxe" data-ext="hx">Haxe</option>
                                <option value="http" data-ext="txt">HTTP</option>
                                <option value="hpkp" data-ext="txt">HTTP Public-Key-Pins</option>
                                <option value="hsts" data-ext="txt">HTTP Strict-Transport-Security</option>
                                <option value="ichigojam" data-ext="txt">IchigoJam</option>
                                <option value="icon" data-ext="txt">Icon</option>
                                <option value="inform7" data-ext="txt">Inform 7</option>
                                <option value="ini" data-ext="ini">INI</option>
                                <option value="io" data-ext="io">IO</option>
                                <option value="j" data-ext="txt">J</option>
                                <option value="jolie" data-ext="txt">Jolie</option>
                                <option value="json" data-ext="json">JSON</option>
                                <option value="julia" data-ext="jl">Julia</option>
                                <option value="keyman" data-ext="txt">Keyman</option>
                                <option value="kotlin" data-ext="kt">Kotlin</option>
                                <option value="latex" data-ext="tex">LaTeX</option>
                                <option value="less" data-ext="less">Less</option>
                                <option value="liquid" data-ext="liquid">Liquid</option>
                                <option value="lisp" data-ext="lisp">Lisp</option>
                                <option value="livescript" data-ext="ls">LiveScript</option>
                                <option value="lolcode" data-ext="txt">LOLCODE</option>
                                <option value="makefile" data-ext="Makefile">Makefile</option>
                                <option value="markdown" data-ext="md">Markdown</option>
                                <option value="markup-templating" data-ext="txt">Markup templating</option>
                                <option value="matlab" data-ext="matlab">MATLAB</option>
                                <option value="mel" data-ext="mel">MEL</option>
                                <option value="mizar" data-ext="txt">Mizar</option>
                                <option value="monkey" data-ext="txt">Monkey</option>
                                <option value="n4js" data-ext="txt">N4JS</option>
                                <option value="nasm" data-ext="txt">NASM</option>
                                <option value="nginx" data-ext="txt">nginx</option>
                                <option value="nim" data-ext="txt">Nim</option>
                                <option value="nix" data-ext="txt">Nix</option>
                                <option value="nsis" data-ext="nsi">NSIS</option>
                                <option value="objectivec" data-ext="m">Objective-C</option>
                                <option value="ocaml" data-ext="ml">OCaml</option>
                                <option value="opencl" data-ext="txt">OpenCL</option>
                                <option value="oz" data-ext="txt">Oz</option>
                                <option value="parigp" data-ext="txt">PARI/GP</option>
                                <option value="parser" data-ext="txt">Parser</option>
                                <option value="pascal" data-ext="pas">Pascal</option>
                                <option value="perl" data-ext="pl">Perl</option>
                                <option value="php" data-ext="php">PHP</option>
                                <option value="php-extras" data-ext="txt">PHP Extras</option>
                                <option value="plsql" data-ext="txt">PL/SQL</option>
                                <option value="powershell" data-ext="psl">PowerShell</option>
                                <option value="processing" data-ext="txt">Processing</option>
                                <option value="prolog" data-ext="plg">Prolog</option>
                                <option value="properties" data-ext="properties">.properties</option>
                                <option value="protobuf" data-ext="proto">Protocol Buffers</option>
                                <option value="pub" data-ext="txt">Pug</option>
                                <option value="puppet" data-ext="epp">Puppet</option>
                                <option value="pure" data-ext="txt">Pure</option>
                                <option value="q" data-ext="txt">Q (kdb+ database)</option>
                                <option value="qore" data-ext="txt">Qore</option>
                                <option value="r" data-ext="r">R</option>
                                <option value="jsx" data-ext="jsx">React JSX</option>
                                <option value="tsx" data-ext="tsx">React TSX</option>
                                <option value="renpy" data-ext="txt">Ren'py</option>
                                <option value="reason" data-ext="txt">Reason</option>
                                <option value="rest" data-ext="txt">reST (reStructuredText)</option>
                                <option value="rip" data-ext="txt">Rip</option>
                                <option value="roboconf" data-ext="txt">Roboconf</option>
                                <option value="ruby" data-ext="rb">Ruby</option>
                                <option value="rust" data-ext="rs">Rust</option>
                                <option value="sas" data-ext="txt">SAS</option>
                                <option value="sass" data-ext="sass">Sass (Sass)</option>
                                <option value="scss" data-ext="scss">Sass (Scss)</option>
                                <option value="scala" data-ext="txt">Scala</option>
                                <option value="scheme" data-ext="scm">Scheme</option>
                                <option value="smalltalk" data-ext="txt">Smalltalk</option>
                                <option value="smarty" data-ext="txt">Smarty</option>
                                <option value="sql" data-ext="sql">SQL</option>
                                <option value="soy" data-ext="soy">Soy (Closure Template)</option>
                                <option value="stylus" data-ext="styl">Stylus</option>
                                <option value="swift" data-ext="swift">Swift</option>
                                <option value="tap" data-ext="txt">TAP</option>
                                <option value="tcl" data-ext="tcl">Tcl</option>
                                <option value="textile" data-ext="textile">Textile</option>
                                <option value="tt2" data-ext="txt">Template Toolkit 2</option>
                                <option value="twig" data-ext="twig">Twig</option>
                                <option value="typescript" data-ext="ts">TypeScript</option>
                                <option value="vbnet" data-ext="txt">VB.Net</option>
                                <option value="velocity" data-ext="vm">Velocity</option>
                                <option value="verilog" data-ext="v">Verilog</option>
                                <option value="vhdl" data-ext="vhdl">VHDL</option>
                                <option value="vim" data-ext="txt">vim</option>
                                <option value="visual-basic" data-ext="vbs">Visual Basic</option>
                                <option value="wasm" data-ext="txt">WebAssembly</option>
                                <option value="wiki" data-ext="txt">Wiki markup</option>
                                <option value="xeora" data-ext="txt">Xeora</option>
                                <option value="xojo" data-ext="txt">Xojo (REALbasic)</option>
                                <option value="xquery" data-ext="xq">XQuery</option>
                                <option value="yaml" data-ext="yaml">YAML</option>
                            </datalist>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="active">
                                Paste Expiration:
                                <small class="text-muted"> [Optional] </small>
                            </label>
                            <select class="form-control" name="expire">
                                <option value="N" selected>Never</option>
                                <option value="SD">Self Destroy</option>
                                <option value="10M">10 Minutes</option>
                                <option value="1H">1 Hour</option>
                                <option value="1D">1 Day</option>
                                <option value="1W">1 Week</option>
                                <option value="2W">2 Weeks</option>
                                <option value="1M">1 Month</option>
                                <option value="6M">6 Months</option>
                                <option value="1Y">1 Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="active">Paste Status:</label>
                            <select class="form-control" name="Status">
                                <option value="1">Public</option>
                                <option value="2">Unlisted</option>
                                <option value="3">Private (members only)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="active">
                                Password:
                                <small class="text-muted"> [Optional] </small>
                            </label>
                            <input type="password" name="Password" class="form-control" placeholder="Password" value="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="active">
                                Description:
                                <small class="text-muted"> [Optional] </small>
                            </label>
                            <input type="text" name="Description" class="form-control" value="" autocomplete="off" placeholder="Write something about your paste.">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="active">
                                Tags:
                                <small class="text-muted"> [Optional] </small>
                            </label>
                            <input type="text" name="Description" class="form-control" value="" autocomplete="off" placeholder="Tags separated by comma.">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <button type="button" id="submitFormBtn" class="btn btn-success container-fluid text-center" style="margin-top: 0.5rem;">Ceate New Paste</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <label class="font-weight-bold d-flex justify-content-between">
                    <span>Recent Pastes</span>
                </label>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var paste in Model)
                    {
                        <li class="list-group-item">
                            <i class="bi bi-file-text"></i>
                            <a href="~/@paste.Id">@paste.Title</a>
                            <p>
                                <small class="text-mutted">
                                    <small>@paste.Syntax   |   <i class="bi bi-eye-fill"></i> @paste.ViewCount   |   @paste.Notes</small>
                                </small>
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Create Folder Modal -->
<div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="createFolderForm">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name">
                        </div>
                        <div class="col-sm-6">
                            <label for="Password" class="form-label">Password <small>[Optional]</small></label>
                            <input type="password" class="form-control" id="Password" name="Password">
                        </div>
                        <div class="col-sm-6">
                            <label for="Description" class="form-label">Description <small>[Optional]</small></label>
                            <input type="text" class="form-control" id="Description" name="Description">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createFolderFormSubmit" onclick="createFolder();">Create</button>
            </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.19.0/src-min-noconflict/ace.min.js"></script>
    <script src="~/js/editor.js"></script>
    <script src="~/js/site.js"></script>
}

@section styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.19.0/css/ace.min.css">
}