@model PasteIt.Models.ViewModels.PasteReadViewModel

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Password Needed!
            </div>
            <div class="card-body">
                <form asp-controller="Paste" asp-action="Read">
                    <p class="card-title">Please enter paste password.</p>
                    <input type="hidden" name="Id" value="@Model.Paste.Id" />
                    <div class="form-group col-md-6">
                        <label class="active">
                            Password:
                        </label>
                        <input type="password" name="Password" class="form-control" placeholder="Password" value="" autocomplete="off">
                    </div>
                <button type="submit">Submit!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <label class="font-weight-bold d-flex justify-content-between">
                    <span>Recent Pastes</span>
                </label>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (var paste in @Model.RecentPastes)
                    {
                        <li class="list-group-item">
                            <i class="bi bi-file-text"></i>
                            <a href="~/@paste.Id">@paste.Title</a>
                            <p>
                                <small class="text-mutted">
                                    <small>@paste.Syntax   |   <i class="bi bi-eye-fill"></i> @paste.ViewCount   |   @paste.Notes</small>
                                </small>
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>